@import "bravehart/bravehart";

.bg-active {
  margin: 1rem auto;

  .inner {
    background: $black-200;
    height: 100%;
  }
  .col {
    height: 20vh;
    //   background: $primary;
    //   &:nth-child(1) {
    //     background: $error;
    //   }
    //   &:nth-child(3) {
    //     background: $success;
    //   }
  }
  // background: $warning;
  .row {
    background: purple;
  }
}
