$primary-50: getColor("primary-50");
$primary-100: getColor("primary-100");
$primary-200: getColor("primary-200");
$primary-300: getColor("primary-300");
$primary-400: getColor("primary-400");
$primary-500: getColor("primary-500");
$primary-600: getColor("primary-600");
$primary-700: getColor("primary-700");
$primary-800: getColor("primary-800");
$primary-900: getColor("primary-900");

$secondary-50: getColor("secondary-50");
$secondary-100: getColor("secondary-100");
$secondary-200: getColor("secondary-200");
$secondary-300: getColor("secondary-300");
$secondary-400: getColor("secondary-400");
$secondary-500: getColor("secondary-500");
$secondary-600: getColor("secondary-600");
$secondary-700: getColor("secondary-700");
$secondary-800: getColor("secondary-800");
$secondary-900: getColor("secondary-900");

$gray-50: getColor("gray-50");
$gray-100: getColor("gray-100");
$gray-200: getColor("gray-200");
$gray-300: getColor("gray-300");
$gray-400: getColor("gray-400");
$gray-500: getColor("gray-500");
$gray-600: getColor("gray-600");
$gray-700: getColor("gray-700");
$gray-800: getColor("gray-800");
$gray-900: getColor("gray-900");

$black-a50: rgba($black, 0.05);
$black-a100: rgba($black, 0.1);
$black-a200: rgba($black, 0.2);
$black-a300: rgba($black, 0.3);
$black-a400: rgba($black, 0.4);
$black-a500: rgba($black, 0.5);
$black-a600: rgba($black, 0.6);
$black-a700: rgba($black, 0.7);
$black-a800: rgba($black, 0.8);
$black-a900: rgba($black, 0.9);

$white-a50: rgba($white, 0.05);
$white-a100: rgba($white, 0.1);
$white-a200: rgba($white, 0.2);
$white-a300: rgba($white, 0.3);
$white-a400: rgba($white, 0.4);
$white-a500: rgba($white, 0.5);
$white-a600: rgba($white, 0.6);
$white-a700: rgba($white, 0.7);
$white-a800: rgba($white, 0.8);
$white-a900: rgba($white, 0.9);

$gray-a50: rgba($gray, 0.05);
$gray-a100: rgba($gray, 0.1);
$gray-a200: rgba($gray, 0.2);
$gray-a300: rgba($gray, 0.3);
$gray-a400: rgba($gray, 0.4);
$gray-a500: rgba($gray, 0.5);
$gray-a600: rgba($gray, 0.6);
$gray-a700: rgba($gray, 0.7);
$gray-a800: rgba($gray, 0.8);
$gray-a900: rgba($gray, 0.9);

$secondary-a50: rgba($secondary, 0.05);
$secondary-a100: rgba($secondary, 0.1);
$secondary-a200: rgba($secondary, 0.2);
$secondary-a300: rgba($secondary, 0.3);
$secondary-a400: rgba($secondary, 0.4);
$secondary-a500: rgba($secondary, 0.5);
$secondary-a600: rgba($secondary, 0.6);
$secondary-a700: rgba($secondary, 0.7);
$secondary-a800: rgba($secondary, 0.8);
$secondary-a900: rgba($secondary, 0.9);

$primary-a50: rgba($primary, 0.05);
$primary-a100: rgba($primary, 0.1);
$primary-a200: rgba($primary, 0.2);
$primary-a300: rgba($primary, 0.3);
$primary-a400: rgba($primary, 0.4);
$primary-a500: rgba($primary, 0.5);
$primary-a600: rgba($primary, 0.6);
$primary-a700: rgba($primary, 0.7);
$primary-a800: rgba($primary, 0.8);
$primary-a900: rgba($primary, 0.9);

$transparent: transparent;

@mixin gradient-transparent($direction: "90deg", $color: $primary) {
  background: linear-gradient($direction, $color, $transparent);
}

@mixin gradient($direction: 90deg, $color: $primary) {
  $gradient-colors: (
    color: $color
  );

  $var: colorMap($gradient-colors, 10);
  $start: map-get($var, "color-50");
  $stop: map-get($var, "color-300");
  background: linear-gradient($direction, $start, $stop);
}
